@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4" style="color:cornflowerblue">Hello!</h3>
    <p style="font-size:20px;color:mediumpurple">Select items to manage</p>
</div>
